
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>


<div class="center jumbotron">
  <h1>ようこそ</h1>
  <h2><a href="http://www.railstutorial.org/">スーパーベジータだ</a></h2>

  <%= link_to "弾けてまざれ",'#',class: "btn btn-lg btn-primary"%>


</div>

<%=link_to image_tag("04738029.jpeg",alt:"ベジータ"),'http://rubyonrails.org/'%>
