<<<<<<< HEAD
<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Sample App!Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
=======
<h1>UserMailer#account_activation</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/account_activation.html.erb
</p>


<%= link_to "ギャリック砲！！", edit_account_activation_url(@user.activation_token,
>>>>>>> a10bfc58d22038db71883d0c55841ed599741361
                                                    email: @user.email) %>
